# Byte-compiled / optimized / DLL files
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# macOS specific files
.DS_Store

# IDE specific files
.vscode/
.idea/